html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    background-color: #FFF5C4;
}

#header-container {
    margin: 0;
    width: 100%;
    font-family: 'Alegreya';
    background-color: #000;
    color: #fff;
    padding: 10px 0px 10px 30px;
    text-align: center;    
}

#header-image {
    float: left;
}

#header-text {    
    display: inline-block; 
    font-size: 24px; 
}

@media only screen and (min-width: 550px) {
    #header-text {
    font-size: 32px; 
    line-height: 50%;    
    }
}

@media only screen and (min-width: 700px) {
    #header-text {
    font-size: 42px; 
    line-height: 0%;    
    }
}

.top-nav-container {
    width: 100%;
    background-color: red; 
    overflow: hidden;   
}

.top-nav-link {
    float: left;
    text-decoration: none;
    background-color: white; 
    padding: 10px;
    width: 25%;
    border-right: solid black 1px;
 
}

