html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    background-color: rgb(170, 250, 210);
}

#header-container {
    margin: 0;
    width: 100%;
    font-family: 'Alegreya';
    background-color: #000;
    color: #fff;
    text-align: center;    
}

#header-image {
    float: left;
    margin: 15px 0px 15px 40px;
}

#header-text {  
    float: right;  
    /* display: inline-block;  */
    font-size: 24px; 
    text-align: center;
    
    margin-right: 100px;
    margin-top: 40px;
    
}

@media only screen and (min-width: 550px) {
    #header-text {
    font-size: 32px; 
    line-height: 50%;    
    }
}

@media only screen and (min-width: 700px) {
    #header-text {
    font-size: 42px; 
    line-height: 0%;    
    }
}

.top-nav-container {
    clear: both;
    text-align: center;  
    background-color: white;
}

.top-nav-container a {
    display: inline-block;
    text-decoration: none;
    background-color: white; 
    padding: 15px 20px;
    border-right: solid black 1px; 
}
.link-1 {
    border-left: solid black 1px; 
}

/* Main Content */

.title-card {
    width: 100%;
    line-height: 140%;
    background-color: rgba(59, 32, 0, 0.5);
    margin: 10px auto;
    color: white;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 56px;
    padding: 0px 20px 10px 20px;
    text-align: center;
    border-top: solid white 4px;   
    border-bottom: solid white 4px;     
}

#choice-1 {
    margin: 0 25px;
    width: 75%;
    background-color: rgba(59, 32, 0, 0.15);
    font-family: 'Alegreya';
    font-size: 26px;
    color: #fff; 
    overflow: hidden;
    border-radius: 2%;
    padding: 100 px;
    /* border: solid #fff 2px;  */
}

#choice-1 img {
    float: left;
    margin: 0 25px 0 0;
}

.trailhead-section {
    margin: 0 auto;
}

.trailhead {
    display: inline-block;
    margin: 0 auto;
    float: left;
}