
body {
    background-color: #d48d8c;
}

#square1{
    width: 100px;
    height: 100px;
    background: rgb(0, 255, 64);
    position: absolute;
    left: 500px;
    top: 450px;
}

#square2{
    width: 50px;
    height: 50px;
    background: rgb(255, 64, 0);
    position: absolute;
    left: 200px;
    top: 250px;
}

#square3{
    width: 150px;
    height: 150px;
    background: rgb(64, 0, 255);
    position: absolute;
    left: 300px;
    top: 350px;
}

#move {
    position: absolute;
    left: 20px;
    top: 20px;
}
