
body {
    background-color: #d48d8c;
}

#square1{
    width: 100px;
    height: 100px;
    background: rgb(0, 255, 64);
    position: absolute;
    left: 100px;
    top: 150px;
}

#move {
    position: absolute;
    left: 50px;
    top: 50px;
}

