body {
    background-color: #e7e7e7;
}
.tableBody{
	display: table;
	width: 100%;
}
.tableRow {
	display: table-row;
}
.tableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.tableCell, .divTableHead {
	
	display: table-cell;
	
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

h1 {
    margin-bottom: 50px;
}
