
body {
    margin: 0;
    padding: 0;
    background-image: url("img/2Bison-1500px.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Raleway';
    font-size: 18px;
    color: #fff;
}

.header {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* background-color: #ff0000; */
}

.hero {
    background-image: url("img/AspenDawn_1500px.jpg");
    height: 100vh;
    min-height: 200px;    
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .5);
}

@media screen and (min-width: 440px) {
    .section-1 {
        width: 45%;
        background-color: #00ff00;
    }
    .section-2 {
        width: 45%;
        background-color: #ff0000;
    }
}

.hero .section-1 {
    width: 100%;
    color: #fff;   
    margin-top: 20px;   
    margin-left: 1em;
    margin-right: 1em;
    padding: 2em;
    text-align: center;
    background-color: rgba(120, 120, 120, 0.7);
}

.hero .section-2 {
    width: 100%;
    color: #fff;    
    margin-top: 20px;   
    max-height: 60%;
    margin-left: 1em;
    margin-right: 1em;
    padding: 2em;
    text-align: center;
    background-color: rgba(120, 120, 120, 0.7);
}

.section-1 h1 {
    font-family: 'Indie Flower';
    text-align: center;
    margin-bottom: .5em;
    font-size: 3em;
    color: #fff;
}

.section-2 h1 {
    font-family: 'Raleway';
    text-align: center;
    margin-bottom: .5em;
    font-size: 1.5em;
    color: #fff;
}

.nav-link {
    display: block;
    width: 50%;
    background-color: #fff;
    margin: 48px;
    padding: 20px;

}


/* Clear float when working on body paragraphs */

main {
    clear: both;
}

main .main-container{

}

main .main-content{

}